body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

canvas#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
}

.container {
  background: rgba(0,0,0,0.85);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  color: #0f0;
  text-align: center;
  box-shadow: 0 0 30px #0f0;
}

input, button {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

input {
  background: #111;
  color: #0f0;
}

button {
  background: #0f0;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 25px #0f0;
  transform: scale(1.05);
}

.glow {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 20px #0f0;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity:1; }
  20%, 22%, 24%, 55% { opacity:0.4; }
}

#qrcode {
  margin-top: 15px;
  }}
